/* home page */

section:nth-of-type(1) {
  background-image: url('./1234.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* home button */
.section1::after {
  background-color:  #F5F5F5;
  content: "";
  position: absolute;
  width: 100%;
  height: 63.5px;
  border-radius: 50% / 100% 100% 0 0;
  bottom: 0;
  left: 0%;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container img:nth-of-type(1){
  position: absolute;
  width: 96px;
  height: 112.29px;
  left: 261px;
  top: 58px;
}
.container img:nth-of-type(2){
  position: absolute;
  top: 124px;
  left: 64%;
  transform: translate(-50%, -50%);
}
.container img:nth-of-type(3){
  position: absolute;
  top: 78%;
  left: 19%;
  transform: translate(-50%, -50%);
}
.container div:nth-of-type(1){
  position: absolute;
  left: 47%;
  top: 36%;
}
.header{
  display: flex;
  justify-content: center;
  align-items:end;
  flex-direction: column;
}
h1{
  margin: 0;
}
.h1-honePage{
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 77px;
letter-spacing: -0.025em;
color: aliceblue;
text-align-last: right; 
direction: rtl;
}
.p-honePage{
direction: rtl;
color: aliceblue;
}
button{
  width: 217px;
  height: 48px;
  background: #000000;
  border-radius: 48px;
  color: aliceblue;
}

/* home page */

section:nth-of-type(2) {
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
 
}

.header-section2{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-section2{
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 89.38%;
  text-align: right;
  letter-spacing: -0.025em;
  color: #3D3D3D;
}
 
.grid-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-section2{
  /* height: 300px; */
  width:  960px;
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-template-rows: 170px 170px;
  text-align: center;
}

.footer-section2{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
 flex-direction: column;
 text-align: center;
}

.foo-section2{
  font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 31px;
/* identical to box height */
text-align: right;
color: #040303; 

text-align: center;
}

.button-section2{
  margin-top: 19px;
  text-align: center;
}
 
section:nth-of-type(3) {
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
 
}

.h1-section3{
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 89.38%;
  text-align: right;
  letter-spacing: -0.025em;
  color: #3D3D3D;
}
 

.footer-section3{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.foo-section3{
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 31px;
text-align: right;
color: #040303; 
text-align: center;
}

.button-section3{
  margin-top: 19px;
  text-align: center;
}
 
.header-section3{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow-s2{
  height: 50%;
  /* width: 50%; */
}
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 500px;

}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 100%;
  border-radius: 40px;
}

section:nth-of-type(4) {
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
}

.footer-section4{
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.foo-section4{
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 31px;
text-align: right;
color: #040303; 
text-align: center;
}

.button-section4{
  margin-top: 19px;
  text-align: center;
}
 

.header-section4{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1-section4{
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 89.38%;
  text-align: right;
  letter-spacing: -0.025em;
  color: #3D3D3D;
}

section:nth-of-type(5) {
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
  /* background-color: aqua; */
  position: relative;
}

.container4{
  width: 100%;
  height: 100vh;
  position: relative;

}
.container4 img:nth-of-type(1){
  position: absolute;
  left: 0;
  bottom: -2px;
}
